<h1>
  Some home page
</h1>
<p>
  Username:
  {{this.model.login}}
</p>
<p>
  Avatar:
  <img src={{this.model.avatar_url}} alt="That's me" width="32" height="32" />
</p>
<p>
  # of Public Repos:
  {{this.model.public_repos}}
</p>